.vs/
ArgentGraphicsLibrary/Bin/
ArgentGraphicsLibrary/x64/
ArgentPlatformLibrary/x64/
x64/
ArgentPlatformLibrary/Bin/
dxcompiler.dll
dxil.dll
ArgentGraphicsLibrary/External/DXC/Lib/
ArgentGraphicsLibrary/Obj/
ArgentPlatformLibrary/Obj/
ArgentUtilityLibrary/Obj/
ArgentUtilityLibrary/Bin/
Assets/Fonts/HGRMB.TTC
Assets/Images/Title.png
packages/
ArgentGraphicsLibrary/packages.config
ArgentInputLibrary/Obj/
ArgentInputLibrary/Bin/
ArgentGraphicsLibrary/External/DirectXTK12/Lib/Debug/DirectXTK12.lib
ArgentGraphicsLibrary/External/DirectXTK12/Lib/
ArgentGraphicsLibrary/External/FBXSDK/
Assets/Image/Title.png
Assets/Model/
Assets/Image/Skymap.DDS
Assets/Image/Skymap.png
Assets/Image/Skymap00.DDS
Assets/Image/Skymap00.png
Assets/Image/Skymap01.DDS
Assets/Image/Skymap01.png
Assets/Image/Skymap02.DDS
Assets/Image/Skymap02.png
Assets/Image/Skymap03.DDS
Assets/Image/Skymap03.png
Assets/Images/Skymap00.DDS
Assets/Images/Skymap01.DDS
Assets/Images/Skymap02.DDS
Assets/Images/Skymap03.DDS
